.my-container{
    width: 750px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.easy-container, .medium-container, .hard-container{    
    display: flex;
    flex-wrap: wrap;
}

.cell{
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active{
    background-color: rgb(0, 183, 255);
    color: white;
    box-shadow: inset 0px 0px 20px -5px black;
    border-radius: 5px;    
}

.cell-100{
    width: calc(750px / 10);
    height: calc(750px / 10);
}

.cell-81{
    width: calc(750px / 9);
    height: calc(750px / 9);
}

.cell-49{
    width: calc(750px / 7);
    height: calc(750px / 7);
}


#end-game{
    position: absolute;
    top: 57.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 750px;
    background-color: rgba(255, 0, 0, 0.446);
    display: none;
}

#win-lose{
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black
}

#score{
    text-shadow: 2px 2px 5px black
}

#end-game.win{
    color: green;
    background-color: rgba(0, 128, 0, 0.6);
}

#end-game.lose{
    color: red;
    background-color: rgba(255, 0, 0, 0.6);
}

.lose{
    background-color: red;
}

#end-game.block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}